/* You can add global styles to this file, and also import other style files */

p,
td,
div,
td,
th,
input,
a {
  font-size: 11px;
  color: lime;
  font-family: sans-serif;
}

input {
  background-color: #002200;
  border: 1px solid lime;
  padding: 1px;
  margin: 1px;
}

body {
  background-color: black;
}

.widget {
  width: 300px;
  margin: 5px;
  padding: 10px;
  background-color: rgba(0, 256, 0, 0.05);
  border: solid 1px #002200;
  display: inline-block;
}

input[type=button],
button {
  background-color: #002200;
  border: 0px;
  padding: 5px;
  border: 1px solid #003300;
}
